.sidebar {
    -fx-background-color: #34495e;
}

.sidebar-button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
    -fx-pref-width: 200;
    -fx-background-radius: 8;
    -fx-padding: 12;
    -fx-alignment: CENTER_LEFT;
}

.sidebar-button:hover {
    -fx-background-color: #3498db;
}